@model ProvaEnc.Models.ProvaModel

@{
    ViewBag.Title = "Create";
}

<h2>Criar texto</h2>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    <div class="form-horizontal">
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="form-group">
            @Html.LabelFor(model => model.Texto, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @{
                    if (TempData["msgD"] != null)
                    {
                        string msgD = TempData["msgD"].ToString();
                        @Html.Label(msgD.ToString());

                    }
                    else
                    {
                        @Html.EditorFor(model => model.Texto, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.Texto, "", new { @class = "text-danger" })
                    }
                }
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                @{
                    if (TempData["msgE"] == null)
                    {
                        <input type="submit" value="Enviar" class="btn btn-default" />
                    }
                }
            </div>
        </div>
        <div class="form-group">
            @{
                if (TempData["msgE"] != null)
                {
                    var msgE = TempData["msgE"].ToString();
                    @Html.Label("Mensagem Encriptada: " + msgE);
                }
            }
        </div>
    </div>
}


